<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <ion-list *ngIf="conPass == true">

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [(ngModel)]="pass" (input)="verificarLlenado2()" (blur)="verificarLlenado2()" (focus)="verificarLlenado2()" type="password"></ion-input>
    </ion-item>

    <button ion-button color="light" (click)="entrar()" [disabled]="btnDisabled">Entrar</button>
  </ion-list>

  <ion-list  *ngIf="conPass == false">

    <h1>Crear contraseña maestra</h1>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input [(ngModel)]="passN" (input)="verificarLlenado()" (blur)="verificarLlenado()" (focus)="verificarLlenado()" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Repetir contraseña</ion-label>
      <ion-input [(ngModel)]="passN2" (input)="verificarLlenado()" (blur)="verificarLlenado()" (focus)="verificarLlenado()" type="password"></ion-input>
    </ion-item>
    <p *ngIf="passN != passN2">*Las contraseñas deben coincidir</p>

    <button ion-button color="light" (click)="guardar()" [disabled]="btnDisabled">Aceptar</button>
  </ion-list>
  
  <span *ngIf="conPass == true">
    <blockquote>* No se almacena ningun tipo de información fuera del dispositivo, si no recuerdas tu contraseña puedes reiniciar la app eliminando todo su contenido.</blockquote>
    <button ion-button color="light" (click)="eliminarStorage()">Eliminar Datos</button>
  </span>
</ion-content>
