<ion-header>
  <ion-navbar>
    <ion-title>
      Tus contraseñas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="abrirMenu($event)">
        <ion-icon name='options'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="passInfo.length == 0">
    <ion-card-header>
      <h1>Bienvenido:</h1>
    </ion-card-header>
    <ion-card-content color="primary">
      <ul no-margin margin-bottom padding-left>
        <li> Aquí almacenaré en tarjetas cada contraseña que necesites recordar. </li>
        <li> Puedes añadir direcciones o nombres de referencia. </li>
        <li> Por seguridad todo se guarda en tu dispositivo.</li>
        <li> Si extravias tu contraseña maestra tu información es irrecuperable, deberás borrar la información.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  

  <ion-card *ngFor="let pass of passInfo; let i = index">
    <ion-card-header (click)="activar(i)">
      {{pass.titulo}}
      <ion-icon icon-only name='create' (click)="editar(i)"></ion-icon>
      <ion-icon icon-only name='close' (click)="eliminar(i)"></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="pass.activo == true">
      <ion-item no-padding>
        <ion-label>
          <p>User: {{pass.user}}</p>
        </ion-label>
        <ion-icon name='copy' item-right (click)="copiar(i, 1)"></ion-icon>
      </ion-item>
      <ion-item no-padding>
        <ion-label>
          <p>Pass: {{pass.pass}}</p>
        </ion-label>
        <ion-icon name='copy' item-right (click)="copiar(i, 2)"></ion-icon>
      </ion-item>
      <ion-item no-padding *ngIf="pass.extra">
        <ion-label>
          <p>Extra: {{pass.extra}}</p>
        </ion-label>
        <ion-icon name='copy' item-right (click)="copiar(i, 3)"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab center bottom>
  <button ion-fab (click)="agregarItems()"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <p padding-left color="white">Agregar contraseña<p>
  </ion-toolbar>
</ion-footer>